.mu-tabs {
    max-width: 500px;
    background-color: #fff;
    // border-bottom: 1px solid rgba(-0, 0, 0, .12);
    .mu-tab-link {
        // max-width: 160px;
    }
}
.tab-header {
    border-bottom: 1px solid rgba(-0, 0, 0, .12);
}
.mu-tab-text {
  color: #333;
}